*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    margin: 0 auto;
}

p{
    font-family: 'Roboto', sans-serif;
}

